/* Общие стили */
body {
    font-family: 'Cinzel', serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #B8860B; /* Цвет текста по умолчанию */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh; /* Чтобы футер был внизу */
    display: flex;
    flex-direction: column;
}

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

header {
    background-color: rgba(51, 51, 51, 0.2); /* Полупрозрачный фон */
    padding: 10px 0;
    border-bottom: none; /* Убираем линию */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

    nav ul li {
        margin: 0 10px;
    }

        nav ul li a {
            color: rgba(245, 222, 179, 0.5); /* Серый текст (полупрозрачный #F5DEB3) */
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            transition: color 0.3s ease;
            position: relative;
        }

            nav ul li a.active {
                color: #F5DEB3; /* Цвет текста для активной кнопки */
                border-bottom: 2px solid transparent; /* Убираем стандартную полосу */
                background-image: linear-gradient( to right, transparent 10%, /* Уменьшаем прозрачную область */
                #B8860B 50%, /* Золотой цвет */
                transparent 90% /* Уменьшаем прозрачную область */
                );
                background-size: 100% 2px; /* Высота полосы */
                background-position: bottom;
                background-repeat: no-repeat;
                padding-bottom: 5px; /* Отступ для подчеркивания */
            }

main {
    padding: 20px;
    flex: 1; /* Чтобы футер был внизу */
}

section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none; /* Убираем тени */
    max-width: 50%; /* Ограничиваем ширину */
    margin-left: 0; /* Выравниваем по левому краю */
}

    section p {
        font-size: 25px; /* Увеличиваем размер текста */
        margin: 10px 0; /* Добавляем отступы между абзацами */
        color: #F5DEB3; /* Цвет текста */
    }

h2 {
    color: #B8860B; /* Цвет заголовка */
    border-bottom: none; /* Убираем полосу */
    text-align: center; /* Выравниваем по центру */
    padding-bottom: 10px;
    cursor: pointer; /* Курсор в виде указателя */
}

.skill-content {
    display: none; /* По умолчанию скрываем контент */
    padding-left: 20px; /* Отступ для вложенного текста */
}

    .skill-content.active {
        display: block; /* Показываем контент при активации */
    }
